NR_Overview.json
[{"id":"39bc79e2.3579c6","type":"tab","label":"Overview","disabled":false,"info":""},{"id":"8f8a1a7f.0f88d8","type":"mqtt in","z":"39bc79e2.3579c6","name":"","topic":"wickingBeds/1/airTemp","qos":"2","broker":"1bb3b239.0b20ce","x":155,"y":171,"wires":[["ebcc951d.a8dfa8","670b135c.21be3c","985501f1.97a3e"]]},{"id":"ebcc951d.a8dfa8","type":"debug","z":"39bc79e2.3579c6","name":"airTemp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":292,"y":106,"wires":[]},{"id":"6da468da.5a88d8","type":"mqtt in","z":"39bc79e2.3579c6","name":"","topic":"wickingBeds/1/humidity","qos":"2","broker":"1bb3b239.0b20ce","x":758,"y":158,"wires":[["513049af.60be38","21b4a50c.96a68a","4f86229.6b74edc"]]},{"id":"513049af.60be38","type":"debug","z":"39bc79e2.3579c6","name":"humidity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":946,"y":117,"wires":[]},{"id":"21b4a50c.96a68a","type":"ui_gauge","z":"39bc79e2.3579c6","name":"Humidity","group":"4dc3523.3f22eac","order":2,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":198,"wires":[]},{"id":"430701be.5fd31","type":"ui_text","z":"39bc79e2.3579c6","group":"4dc3523.3f22eac","order":3,"width":0,"height":0,"name":"Current Time","label":"Last Updated","format":"{{msg.payload}}","layout":"col-center","x":418,"y":496,"wires":[]},{"id":"670b135c.21be3c","type":"ui_gauge","z":"39bc79e2.3579c6","name":"","group":"4dc3523.3f22eac","order":1,"width":0,"height":0,"gtype":"gage","title":"Air Temperature","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#37c4ca","#09e600","#f09a17"],"seg1":"","seg2":"","x":369,"y":227,"wires":[]},{"id":"9cd1c7a0.473a78","type":"mqtt in","z":"39bc79e2.3579c6","name":"","topic":"wickingBeds/1/currentTime","qos":"2","broker":"1bb3b239.0b20ce","x":193,"y":499,"wires":[["430701be.5fd31"]]},{"id":"127a9769.41bf29","type":"mqtt in","z":"39bc79e2.3579c6","name":"sensor interval sub","topic":"wickingBeds/1/init/readingsInterval ","qos":"2","broker":"1bb3b239.0b20ce","x":719,"y":499,"wires":[["e1c052ac.9b507"]]},{"id":"e1c052ac.9b507","type":"ui_slider","z":"39bc79e2.3579c6","name":"sensor interval","label":"Sensor Interval (minutes)","group":"4dc3523.3f22eac","order":11,"width":"0","height":"0","passthru":true,"outs":"end","topic":"wickingBeds/1/1/readingsInterval ","min":"1","max":"30","step":1,"x":915,"y":496,"wires":[["a8736ab7.eb39b8"]]},{"id":"a8736ab7.eb39b8","type":"mqtt out","z":"39bc79e2.3579c6","name":"sensor interval pub","topic":"wickingBeds/1/readingsInterval","qos":"","retain":"","broker":"1bb3b239.0b20ce","x":1113,"y":496,"wires":[]},{"id":"985501f1.97a3e","type":"mqtt out","z":"39bc79e2.3579c6","name":"PhoneFeed","topic":"WickerMan/air","qos":"1","retain":"","broker":"1bb3b239.0b20ce","x":524,"y":169,"wires":[]},{"id":"4f86229.6b74edc","type":"mqtt out","z":"39bc79e2.3579c6","name":"PhoneFeed","topic":"WickerMan/humid","qos":"1","retain":"","broker":"1bb3b239.0b20ce","x":1151,"y":157,"wires":[]},{"id":"1bb3b239.0b20ce","type":"mqtt-broker","z":"","name":"brokerName","broker":"xx.xx.xx.xx","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4dc3523.3f22eac","type":"ui_group","z":"","name":"System 1","tab":"b8d42871.c15c68","order":1,"disp":true,"width":"10","collapse":false},{"id":"b8d42871.c15c68","type":"ui_tab","z":"","name":"Overview","icon":"dashboard","order":1}]