NR_TwoBeds.json
[{"id":"4fb89f33.a09d","type":"tab","label":"System 1","disabled":false,"info":""},{"id":"a4fbe501.d9c128","type":"mqtt in","z":"4fb89f33.a09d","name":"wickingBeds/1/1/soilTemp","topic":"wickingBeds/1/1/soilTemp","qos":"2","broker":"1bb3b239.0b20ce","x":115,"y":221.0000514984131,"wires":[["b38fccf9.5d61d","82168153.ed836","9601006f.c78ae","d1598930.7b9848"]]},{"id":"b38fccf9.5d61d","type":"debug","z":"4fb89f33.a09d","name":"Soil Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":96,"y":175.0000514984131,"wires":[]},{"id":"10f73368.12190d","type":"mqtt in","z":"4fb89f33.a09d","name":"wickingBeds/1/1/soilMoisture","topic":"wickingBeds/1/1/soilMoisture","qos":"2","broker":"1bb3b239.0b20ce","x":129,"y":397.0000514984131,"wires":[["c1d3e783.da11d8","3b7c2bd5.75b2f4","d1598930.7b9848","9601006f.c78ae"]]},{"id":"c1d3e783.da11d8","type":"debug","z":"4fb89f33.a09d","name":"Soil Moisture","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":196,"y":329.0000514984131,"wires":[]},{"id":"3b7c2bd5.75b2f4","type":"ui_gauge","z":"4fb89f33.a09d","name":"Soil Moisture Bed 1","group":"dfb3dc5a.931a","order":1,"width":"6","height":"4","gtype":"gage","title":"Soil Moisture Bed 1","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b50021","#ecc331","#0c2fda"],"seg1":"40","seg2":"80","x":405,"y":447.0000514984131,"wires":[]},{"id":"bc11928d.c0357","type":"mqtt in","z":"4fb89f33.a09d","name":"wickingBeds/1/2/soilTemp","topic":"wickingBeds/1/2/soilTemp","qos":"2","broker":"1bb3b239.0b20ce","x":834.9999732971191,"y":230,"wires":[["c1948c8e.3158","4c1274ab.281b3c","6f42d283.4615dc","acde756.0bd4388"]]},{"id":"c1948c8e.3158","type":"debug","z":"4fb89f33.a09d","name":"Soil Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":889.9999732971191,"y":151,"wires":[]},{"id":"c7871ac4.bc31e8","type":"mqtt in","z":"4fb89f33.a09d","name":"wickingBeds/1/2/soilMoisture","topic":"wickingBeds/1/2/soilMoisture","qos":"2","broker":"1bb3b239.0b20ce","x":831.9999732971191,"y":400,"wires":[["35a21f2d.b8f5e","cc5c127d.2681","6f42d283.4615dc","acde756.0bd4388"]]},{"id":"35a21f2d.b8f5e","type":"debug","z":"4fb89f33.a09d","name":"Soil Moisture","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":886.9999732971191,"y":339,"wires":[]},{"id":"cc5c127d.2681","type":"ui_gauge","z":"4fb89f33.a09d","name":"Soil Moisture Bed 2","group":"4cd50888.c00f18","order":1,"width":"6","height":"4","gtype":"gage","title":"Soil Moisture Bed 2","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b50021","#ecc331","#0c2fda"],"seg1":"40","seg2":"80","x":1143.9999732971191,"y":404,"wires":[]},{"id":"d3b87654.b85718","type":"mqtt out","z":"4fb89f33.a09d","name":"","topic":"wickingBeds/1/1/fillNow","qos":"","retain":"","broker":"1bb3b239.0b20ce","x":423,"y":839,"wires":[]},{"id":"f8a277ce.9395c8","type":"ui_button","z":"4fb89f33.a09d","name":"Fill Bed 1 Now","group":"dfb3dc5a.931a","order":8,"width":0,"height":0,"passthru":false,"label":"Fill Bed 1 Now","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"wickingBeds/1/1/fillNow","x":154.99999237060547,"y":843.9999866485596,"wires":[["d3b87654.b85718"]]},{"id":"937f0b71.36bfa8","type":"mqtt out","z":"4fb89f33.a09d","name":"","topic":"wickingBeds/1/2/fillNow","qos":"","retain":"","broker":"1bb3b239.0b20ce","x":1074,"y":841,"wires":[]},{"id":"5d80766d.5cfdb8","type":"ui_button","z":"4fb89f33.a09d","name":"Fill Bed 2 Now","group":"4cd50888.c00f18","order":8,"width":0,"height":0,"passthru":false,"label":"Fill Bed 2 Now","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"wickingBeds/1/2/fillNow","x":797,"y":842.9999866485596,"wires":[["937f0b71.36bfa8"]]},{"id":"216129e0.1b0626","type":"ui_slider","z":"4fb89f33.a09d","name":"Threshold1","label":"change","group":"dfb3dc5a.931a","order":7,"width":"4","height":"1","passthru":true,"outs":"end","topic":"wickingBeds/1/1/threshold","min":"20","max":"80","step":1,"x":260,"y":716.0000514984131,"wires":[["30e03a98.d1d666"]]},{"id":"30e03a98.d1d666","type":"mqtt out","z":"4fb89f33.a09d","name":"","topic":"wickingBeds/1/1/threshold","qos":"1","retain":"","broker":"1bb3b239.0b20ce","x":473,"y":714.0000514984131,"wires":[]},{"id":"70c156c3.0fd938","type":"ui_slider","z":"4fb89f33.a09d","name":"Threshold2","label":"change","group":"4cd50888.c00f18","order":7,"width":"4","height":"1","passthru":true,"outs":"end","topic":"wickingBeds/1/2/threshold","min":"20","max":"80","step":1,"x":908.9999732971191,"y":714,"wires":[["c8bae511.6e9798"]]},{"id":"c8bae511.6e9798","type":"mqtt out","z":"4fb89f33.a09d","name":"","topic":"wickingBeds/1/2/threshold","qos":"1","retain":"","broker":"1bb3b239.0b20ce","x":1144.9999732971191,"y":710,"wires":[]},{"id":"8d98606c.3987","type":"ui_switch","z":"4fb89f33.a09d","name":"Auto Fill","label":"Auto Fill","group":"dfb3dc5a.931a","order":5,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":249,"y":627.0000514984131,"wires":[["c70f7f04.94a21"]]},{"id":"c70f7f04.94a21","type":"mqtt out","z":"4fb89f33.a09d","name":"","topic":"wickingBeds/1/1/auto","qos":"","retain":"","broker":"1bb3b239.0b20ce","x":446,"y":627.0000514984131,"wires":[]},{"id":"b5e707ff.2a94c8","type":"ui_switch","z":"4fb89f33.a09d","name":"Auto Fill","label":"Auto Fill","group":"4cd50888.c00f18","order":5,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":927.9999732971191,"y":622,"wires":[["33726c84.00e7d4"]]},{"id":"33726c84.00e7d4","type":"mqtt out","z":"4fb89f33.a09d","name":"","topic":"wickingBeds/1/2/auto","qos":"","retain":"","broker":"1bb3b239.0b20ce","x":1116.9999732971191,"y":623,"wires":[]},{"id":"4506bb87.e220b4","type":"mqtt in","z":"4fb89f33.a09d","name":"","topic":"wickingBeds/1/1/lastFilledDateTime","qos":"2","broker":"1bb3b239.0b20ce","x":154,"y":500.0000591278076,"wires":[["733ace0b.29097","9f67d59e.bd5bb8"]]},{"id":"733ace0b.29097","type":"ui_text","z":"4fb89f33.a09d","group":"dfb3dc5a.931a","order":3,"width":"6","height":"2","name":"Bed 1 Last Filled","label":"Bed 1 Last Filled","format":"{{msg.payload}}","layout":"row-center","x":438,"y":499.0000514984131,"wires":[]},{"id":"b5e7a508.01af68","type":"mqtt in","z":"4fb89f33.a09d","name":"","topic":"wickingBeds/1/2/lastFilledDateTime","qos":"2","broker":"1bb3b239.0b20ce","x":897.9999732971191,"y":481,"wires":[["bda806f7.2c7568"]]},{"id":"bda806f7.2c7568","type":"ui_text","z":"4fb89f33.a09d","group":"4cd50888.c00f18","order":3,"width":"6","height":"2","name":"Bed 2 Last Filled","label":"Bed 2 Last Filled","format":"{{msg.payload}}","layout":"row-center","x":1148.9999732971191,"y":482,"wires":[]},{"id":"82168153.ed836","type":"ui_gauge","z":"4fb89f33.a09d","name":"soil temp","group":"dfb3dc5a.931a","order":2,"width":"6","height":"4","gtype":"gage","title":"Soil Temperature","label":"C","format":"{{value}}","min":"10","max":"40","colors":["#46ddf5","#476ff2","#ca3838"],"seg1":"","seg2":"","x":114,"y":283.0000514984131,"wires":[]},{"id":"4c1274ab.281b3c","type":"ui_gauge","z":"4fb89f33.a09d","name":"","group":"4cd50888.c00f18","order":2,"width":"6","height":"4","gtype":"gage","title":"Soil Temperature","label":"C","format":"{{value}}","min":"10","max":"40","colors":["#46ddf5","#476ff2","#ca3838"],"seg1":"","seg2":"","x":930.9999732971191,"y":290,"wires":[]},{"id":"9601006f.c78ae","type":"ui_chart","z":"4fb89f33.a09d","name":"30days","group":"dfb3dc5a.931a","order":15,"width":"12","height":"4","label":"30 Days (moisture, temp, fill)","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"waiting ....","dot":false,"ymin":"0","ymax":"100","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ff7f0e","#2ca02c","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":614,"y":322.0000514984131,"wires":[[],[]]},{"id":"2e175449.51db9c","type":"mqtt in","z":"4fb89f33.a09d","name":"init input","topic":"wickingBeds/1/1/init/threshold","qos":"2","broker":"1bb3b239.0b20ce","x":83,"y":717.0000514984131,"wires":[["216129e0.1b0626","968f315a.c6183"]]},{"id":"f6d72012.b3f59","type":"mqtt in","z":"4fb89f33.a09d","name":"init input","topic":"wickingBeds/1/2/init/threshold","qos":"2","broker":"1bb3b239.0b20ce","x":741.9999732971191,"y":714,"wires":[["70c156c3.0fd938","967c571b.a3a9d8"]]},{"id":"65e01222.80393c","type":"mqtt in","z":"4fb89f33.a09d","name":"init input","topic":"wickingBeds/1/1/init/auto","qos":"2","broker":"1bb3b239.0b20ce","x":89,"y":628.0000514984131,"wires":[["8d98606c.3987"]]},{"id":"64150851.321528","type":"mqtt in","z":"4fb89f33.a09d","name":"init input","topic":"wickingBeds/1/2/init/auto","qos":"2","broker":"1bb3b239.0b20ce","x":745.9999732971191,"y":622,"wires":[["b5e707ff.2a94c8"]]},{"id":"dfd1f75.4de6108","type":"mqtt in","z":"4fb89f33.a09d","name":"Since","topic":"wickingBeds/1/1/daysHoursSince","qos":"2","broker":"1bb3b239.0b20ce","x":386.9999771118164,"y":561.0000896453857,"wires":[["64cfc5c3.0beb7c"]]},{"id":"64cfc5c3.0beb7c","type":"ui_text","z":"4fb89f33.a09d","group":"dfb3dc5a.931a","order":4,"width":"6","height":"2","name":"whichWas1","label":"which was","format":"{{msg.payload}}","layout":"row-left","x":532.9999771118164,"y":560.0000820159912,"wires":[]},{"id":"a277fa26.d9dc38","type":"mqtt in","z":"4fb89f33.a09d","name":"Since","topic":"wickingBeds/1/2/daysHoursSince","qos":"2","broker":"1bb3b239.0b20ce","x":918.9999732971191,"y":538,"wires":[["3038b625.aa021a"]]},{"id":"3038b625.aa021a","type":"ui_text","z":"4fb89f33.a09d","group":"4cd50888.c00f18","order":4,"width":"6","height":"2","name":"whichWas2","label":"which was","format":"{{msg.payload}}","layout":"row-left","x":1079.9999732971191,"y":537,"wires":[]},{"id":"6abac698.0db5e8","type":"mqtt in","z":"4fb89f33.a09d","name":"Alert 1","topic":"wickingBeds/1/1/ALERT","qos":"2","broker":"1bb3b239.0b20ce","x":64,"y":1190.0000762939453,"wires":[["ee77b119.11863","f54ba1b3.69897"]]},{"id":"ee77b119.11863","type":"ui_audio","z":"4fb89f33.a09d","name":"audio","group":"dfb3dc5a.931a","voice":"","always":true,"x":148,"y":1322.0000762939453,"wires":[]},{"id":"eea04444.b609a8","type":"ui_text","z":"4fb89f33.a09d","group":"dfb3dc5a.931a","order":9,"width":0,"height":0,"name":"Bed1 Alert","label":"Current Alert","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"col-center","x":523.0000228881836,"y":1218.000322341919,"wires":[]},{"id":"85dc17ed.299c38","type":"mqtt in","z":"4fb89f33.a09d","name":"Alert 2","topic":"wickingBeds/1/2/ALERT","qos":"2","broker":"1bb3b239.0b20ce","x":799.0000381469727,"y":1205.000482559204,"wires":[["9f55746c.8a7e08","65122068.a8e51","3a3a19fe.cc8466"]]},{"id":"9f55746c.8a7e08","type":"ui_audio","z":"4fb89f33.a09d","name":"audio","group":"4cd50888.c00f18","voice":"","always":true,"x":890.0000419616699,"y":1356.0006475448608,"wires":[]},{"id":"a4452d7d.f442","type":"ui_text","z":"4fb89f33.a09d","group":"4cd50888.c00f18","order":9,"width":0,"height":0,"name":"Bed2 Alert","label":"Current Alert","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"col-center","x":1263.0002098083496,"y":1219.0006427764893,"wires":[]},{"id":"83def702.15ed58","type":"mqtt in","z":"4fb89f33.a09d","name":"Minimum Refill Interval sub","topic":"wickingBeds/1/1/init/noRefillInterval ","qos":"2","broker":"1bb3b239.0b20ce","x":127,"y":920.0000762939453,"wires":[["4afaddba.ee0a64"]]},{"id":"4afaddba.ee0a64","type":"ui_slider","z":"4fb89f33.a09d","name":"no refill interval","label":"Minimum Refill Interval (hours)","group":"dfb3dc5a.931a","order":13,"width":"0","height":"0","passthru":true,"outs":"end","topic":"wickingBeds/1/1/noRefillInterval ","min":"1","max":"24","step":1,"x":339,"y":919.0000762939453,"wires":[["2c863fcc.185da"]]},{"id":"2c863fcc.185da","type":"mqtt out","z":"4fb89f33.a09d","name":"Minimum Refill Interval pub","topic":"wickingBeds/1/1/noRefillInterval","qos":"","retain":"","broker":"1bb3b239.0b20ce","x":565,"y":918.0000762939453,"wires":[]},{"id":"95c426fb.65c9f8","type":"mqtt in","z":"4fb89f33.a09d","name":"Refill Timeout sub","topic":"wickingBeds/1/1/init/maxTimeRefill ","qos":"2","broker":"1bb3b239.0b20ce","x":104,"y":981.0000762939453,"wires":[["4ebc22c0.080cac"]]},{"id":"4ebc22c0.080cac","type":"ui_slider","z":"4fb89f33.a09d","name":"Refill Timeout ","label":"Refill Timeout (minutes)","group":"dfb3dc5a.931a","order":14,"width":"0","height":"0","passthru":true,"outs":"end","topic":"wickingBeds/1/1/maxTimeRefill  ","min":"3","max":"15","step":1,"x":305,"y":980.0000762939453,"wires":[["fe01744a.f439c8"]]},{"id":"fe01744a.f439c8","type":"mqtt out","z":"4fb89f33.a09d","name":"Refill Timeout pub","topic":"wickingBeds/1/1/maxTimeRefill","qos":"","retain":"","broker":"1bb3b239.0b20ce","x":501,"y":979.0000762939453,"wires":[]},{"id":"d5c0d737.da1128","type":"mqtt in","z":"4fb89f33.a09d","name":"Minimum Refill Interval sub","topic":"wickingBeds/1/2/init/noRefillInterval ","qos":"2","broker":"1bb3b239.0b20ce","x":813.0000305175781,"y":915.000150680542,"wires":[["58ee543.778dcac"]]},{"id":"58ee543.778dcac","type":"ui_slider","z":"4fb89f33.a09d","name":"no refill interval","label":"Minimum Refill Interval (hours)","group":"4cd50888.c00f18","order":13,"width":"0","height":"0","passthru":true,"outs":"end","topic":"wickingBeds/1/2/noRefillInterval ","min":"1","max":"24","step":1,"x":1072.0000305175781,"y":915.000150680542,"wires":[["70207541.6c3dac"]]},{"id":"70207541.6c3dac","type":"mqtt out","z":"4fb89f33.a09d","name":"Minimum Refill Interval pub","topic":"wickingBeds/1/2/noRefillInterval","qos":"","retain":"","broker":"1bb3b239.0b20ce","x":1301.0000305175781,"y":914.000150680542,"wires":[]},{"id":"df8d3754.67adf8","type":"mqtt in","z":"4fb89f33.a09d","name":"Refill Timeout sub","topic":"wickingBeds/1/2/init/maxTimeRefill ","qos":"2","broker":"1bb3b239.0b20ce","x":790.0000305175781,"y":982.000150680542,"wires":[["d937fced.5c9a3"]]},{"id":"d937fced.5c9a3","type":"ui_slider","z":"4fb89f33.a09d","name":"Refill Timeout ","label":"Refill Timeout (minutes)","group":"4cd50888.c00f18","order":14,"width":"0","height":"0","passthru":true,"outs":"end","topic":"wickingBeds/1/2/maxTimeRefill  ","min":"3","max":"15","step":1,"x":992.0000305175781,"y":983.000150680542,"wires":[["a895f75c.b5e918"]]},{"id":"a895f75c.b5e918","type":"mqtt out","z":"4fb89f33.a09d","name":"Refill Timeout pub","topic":"wickingBeds/1/2/maxTimeRefill","qos":"","retain":"","broker":"1bb3b239.0b20ce","x":1204.0000305175781,"y":982.000150680542,"wires":[]},{"id":"65122068.a8e51","type":"e-mail","z":"4fb89f33.a09d","server":"smtp.gmail.com","port":"465","secure":true,"name":"aubrey.conversely@gmail.com","dname":"email alert","x":1200.0000534057617,"y":1139.0004787445068,"wires":[]},{"id":"b9a81850.771318","type":"mqtt in","z":"4fb89f33.a09d","name":"msg 1","topic":"wickingBeds/1/1/msg","qos":"2","broker":"1bb3b239.0b20ce","x":301.00000762939453,"y":1334.0001182556152,"wires":[["2880b974.51dec6","2895c673.89b84a","2701f390.fe785c"]]},{"id":"2895c673.89b84a","type":"ui_audio","z":"4fb89f33.a09d","name":"audio","group":"dfb3dc5a.931a","voice":"","always":true,"x":519.9999923706055,"y":1396.0001220703125,"wires":[]},{"id":"2880b974.51dec6","type":"ui_text","z":"4fb89f33.a09d","group":"dfb3dc5a.931a","order":10,"width":0,"height":0,"name":"Bed1 msg","label":"Last Successful Refill","format":"{{msg.payload}}","layout":"col-center","x":524.0000095367432,"y":1297.0000343322754,"wires":[]},{"id":"84ca39ac.fbae48","type":"mqtt in","z":"4fb89f33.a09d","name":"msg 2","topic":"wickingBeds/1/2/msg","qos":"2","broker":"1bb3b239.0b20ce","x":1077.0000495910645,"y":1354.0006475448608,"wires":[["bd755a4c.4ecaa8","1fb90e5b.802622"]]},{"id":"1fb90e5b.802622","type":"ui_audio","z":"4fb89f33.a09d","name":"audio","group":"4cd50888.c00f18","voice":"","always":true,"x":1282.0000076293945,"y":1409.0007057189941,"wires":[]},{"id":"bd755a4c.4ecaa8","type":"ui_text","z":"4fb89f33.a09d","group":"4cd50888.c00f18","order":10,"width":0,"height":0,"name":"Bed2msg","label":"Last Successful Refill","format":"{{msg.payload}}","layout":"col-center","x":1292.0000610351562,"y":1299.0008101463318,"wires":[]},{"id":"3a96b764.602a98","type":"mqtt in","z":"4fb89f33.a09d","name":"filled","topic":"wickingBeds/1/1/filledSuccess","qos":"2","broker":"1bb3b239.0b20ce","x":283,"y":284.0000514984131,"wires":[["9601006f.c78ae","d1598930.7b9848"]]},{"id":"bdb4e7b4.697778","type":"mqtt in","z":"4fb89f33.a09d","name":"filled","topic":"wickingBeds/1/2/filledSuccess","qos":"2","broker":"1bb3b239.0b20ce","x":1120.9999732971191,"y":222,"wires":[["6f42d283.4615dc","acde756.0bd4388"]]},{"id":"d1598930.7b9848","type":"ui_chart","z":"4fb89f33.a09d","name":"24hrs","group":"dfb3dc5a.931a","order":11,"width":0,"height":0,"label":"Last 24hrs","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#aec7e8","#1f77b4","#ecc331","#2ca02c","#d62728","#eef326","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":574,"y":119.00005149841309,"wires":[[],[]]},{"id":"6f42d283.4615dc","type":"ui_chart","z":"4fb89f33.a09d","name":"24hrs","group":"4cd50888.c00f18","order":11,"width":0,"height":0,"label":"Last 24hrs","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#aec7e8","#1f77b4","#ecc331","#2ca02c","#d62728","#f1f029","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1288.9999732971191,"y":148,"wires":[[],[]]},{"id":"968f315a.c6183","type":"ui_text","z":"4fb89f33.a09d","group":"dfb3dc5a.931a","order":6,"width":"4","height":"1","name":"","label":"Threshold ","format":"{{msg.payload}}","layout":"row-right","x":243,"y":771.0000514984131,"wires":[]},{"id":"967c571b.a3a9d8","type":"ui_text","z":"4fb89f33.a09d","group":"4cd50888.c00f18","order":6,"width":"4","height":"1","name":"","label":"Threshold ","format":"{{msg.payload}}","layout":"row-right","x":909.9999732971191,"y":770,"wires":[]},{"id":"661d221f.0acc8c","type":"mqtt in","z":"4fb89f33.a09d","name":"","topic":"wickingBeds/1/airTemp","qos":"2","broker":"1bb3b239.0b20ce","x":120,"y":121.00005149841309,"wires":[["d1598930.7b9848"]]},{"id":"534452aa.96341c","type":"mqtt in","z":"4fb89f33.a09d","name":"","topic":"wickingBeds/1/airTemp","qos":"2","broker":"1bb3b239.0b20ce","x":854.9999732971191,"y":103,"wires":[["6f42d283.4615dc"]]},{"id":"55b8c639.d2a7f8","type":"mqtt in","z":"4fb89f33.a09d","name":"Fail","topic":"wickingBeds/1/2/fillingFail","qos":"2","broker":"1bb3b239.0b20ce","x":1029.9999732971191,"y":176,"wires":[["6f42d283.4615dc"]]},{"id":"cfae36e4.d773e8","type":"mqtt in","z":"4fb89f33.a09d","name":"Fail","topic":"wickingBeds/1/1/fillingFail","qos":"2","broker":"1bb3b239.0b20ce","x":365.00000381469727,"y":197.0000524520874,"wires":[["d1598930.7b9848"]]},{"id":"6c41795.c7cd288","type":"ui_button","z":"4fb89f33.a09d","name":"clear chart","group":"4cd50888.c00f18","order":12,"width":0,"height":0,"passthru":false,"label":"clear chart","color":"","bgcolor":"gray","icon":"","payload":"[]","payloadType":"json","topic":"","x":1302.9999732971191,"y":212,"wires":[["6f42d283.4615dc"]]},{"id":"e8af8086.a60dc","type":"ui_button","z":"4fb89f33.a09d","name":"clear chart","group":"dfb3dc5a.931a","order":12,"width":0,"height":0,"passthru":false,"label":"clear chart","color":"white","bgcolor":"gray","icon":"","payload":"[]","payloadType":"json","topic":"","x":541,"y":240.0000514984131,"wires":[["d1598930.7b9848"]]},{"id":"352ec2dd.5ff54e","type":"ui_button","z":"4fb89f33.a09d","name":"clear 30d chart","group":"4cd50888.c00f18","order":16,"width":0,"height":0,"passthru":false,"label":"clear chart","color":"","bgcolor":"gray","icon":"","payload":"[]","payloadType":"json","topic":"","x":1193.9999732971191,"y":359,"wires":[["acde756.0bd4388"]]},{"id":"63c33800.41a6b8","type":"ui_button","z":"4fb89f33.a09d","name":"clear 30d chart","group":"dfb3dc5a.931a","order":18,"width":0,"height":0,"passthru":false,"label":"clear chart","color":"white","bgcolor":"gray","icon":"","payload":"[]","payloadType":"json","topic":"","x":460,"y":397.0000514984131,"wires":[["9601006f.c78ae"]]},{"id":"f54ba1b3.69897","type":"function","z":"4fb89f33.a09d","name":"colorise","func":"switch (msg.payload) {\n\ncase \"resolved\" : \n    msg.color = \"DarkSeaGreen\";\n    break;\n    \ndefault : \n    msg.color = \"firebrick3\";\n    break;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":303.00000762939453,"y":1191.000156402588,"wires":[["eea04444.b609a8","d8a3e98b.8ffee8","6c33083.8e565f8"]]},{"id":"d8a3e98b.8ffee8","type":"debug","z":"4fb89f33.a09d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":543.0000228881836,"y":1155.000156402588,"wires":[]},{"id":"3a3a19fe.cc8466","type":"function","z":"4fb89f33.a09d","name":"colorise","func":"switch (msg.payload) {\n\ncase \"resolved\" : \n    msg.color = \"DarkSeaGreen\";\n    break;\n    \ndefault : \n    msg.color = \"firebrick3\";\n    break;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1006.0000381469727,"y":1225.000482559204,"wires":[["a4452d7d.f442"]]},{"id":"acde756.0bd4388","type":"ui_chart","z":"4fb89f33.a09d","name":"30days","group":"4cd50888.c00f18","order":15,"width":"12","height":"4","label":"30 Days (moisture, temp, fill)","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"waiting ....","dot":false,"ymin":"0","ymax":"100","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ff7f0e","#2ca02c","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1292.9999732971191,"y":278,"wires":[[],[]]},{"id":"6c33083.8e565f8","type":"e-mail","z":"4fb89f33.a09d","server":"smtp.gmail.com","port":"465","secure":true,"name":"aubrey.conversely@gmail.com","dname":"fail alert","x":547,"y":1072.0000762939453,"wires":[]},{"id":"4402fed6.802fe","type":"comment","z":"4fb89f33.a09d","name":"Bed 1","info":"Flows on the left are for wicking bed 1","x":292.6988697052002,"y":43.241533279418945,"wires":[]},{"id":"5bf421cc.adddd","type":"comment","z":"4fb89f33.a09d","name":"Bed 2","info":"Flows on the left are for wicking bed 2","x":964.017333984375,"y":36.010414123535156,"wires":[]},{"id":"9f67d59e.bd5bb8","type":"debug","z":"4fb89f33.a09d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":225.1840362548828,"y":563.2395858764648,"wires":[]},{"id":"2701f390.fe785c","type":"debug","z":"4fb89f33.a09d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":371.1909942626953,"y":1266.677101135254,"wires":[]},{"id":"1bb3b239.0b20ce","type":"mqtt-broker","z":"","name":"yourBrkersName","broker":"xx.xx.xx.xx","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dfb3dc5a.931a","type":"ui_group","z":"","name":"Bed 1","tab":"dba9407.094c4c","order":2,"disp":true,"width":"12","collapse":true},{"id":"4cd50888.c00f18","type":"ui_group","z":"","name":"Bed 2","tab":"dba9407.094c4c","order":2,"disp":true,"width":"12","collapse":true},{"id":"dba9407.094c4c","type":"ui_tab","z":"","name":"System 1","icon":"dashboard"}]