WickerManB01_NodeRed_System1.json
[{"id":"a4fbe501.d9c128","type":"mqtt in","z":"4fb89f33.a09d","name":"wickingBeds/1/1/soilTemp","topic":"wickingBeds/1/1/soilTemp","qos":"2","broker":"1bb3b239.0b20ce","x":199,"y":136,"wires":[["b38fccf9.5d61d","82168153.ed836"]]},{"id":"b38fccf9.5d61d","type":"debug","z":"4fb89f33.a09d","name":"Soil Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":414,"y":101,"wires":[]},{"id":"10f73368.12190d","type":"mqtt in","z":"4fb89f33.a09d","name":"wickingBeds/1/1/soilMoisture","topic":"wickingBeds/1/1/soilMoisture","qos":"2","broker":"1bb3b239.0b20ce","x":766,"y":125,"wires":[["c1d3e783.da11d8","3b7c2bd5.75b2f4","9601006f.c78ae"]]},{"id":"c1d3e783.da11d8","type":"debug","z":"4fb89f33.a09d","name":"Soil Moisture","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1019,"y":73,"wires":[]},{"id":"3b7c2bd5.75b2f4","type":"ui_gauge","z":"4fb89f33.a09d","name":"Soil Moisture Bed 1","group":"dfb3dc5a.931a","order":1,"width":"6","height":"4","gtype":"gage","title":"Soil Moisture Bed 1","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b50021","#02e600","#0c2fda"],"seg1":"40","seg2":"80","x":1041,"y":240,"wires":[]},{"id":"bc11928d.c0357","type":"mqtt in","z":"4fb89f33.a09d","name":"wickingBeds/1/2/soilTemp","topic":"wickingBeds/1/2/soilTemp","qos":"2","broker":"1bb3b239.0b20ce","x":199,"y":385,"wires":[["c1948c8e.3158","4c1274ab.281b3c"]]},{"id":"c1948c8e.3158","type":"debug","z":"4fb89f33.a09d","name":"Soil Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":355,"wires":[]},{"id":"c7871ac4.bc31e8","type":"mqtt in","z":"4fb89f33.a09d","name":"wickingBeds/1/2/soilMoisture","topic":"wickingBeds/1/2/soilMoisture","qos":"2","broker":"1bb3b239.0b20ce","x":744,"y":377,"wires":[["35a21f2d.b8f5e","cc5c127d.2681","263070d4.1743a"]]},{"id":"35a21f2d.b8f5e","type":"debug","z":"4fb89f33.a09d","name":"Soil Moisture","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":997,"y":325,"wires":[]},{"id":"cc5c127d.2681","type":"ui_gauge","z":"4fb89f33.a09d","name":"Soil Moisture Bed 2","group":"4cd50888.c00f18","order":1,"width":"6","height":"4","gtype":"gage","title":"Soil Moisture Bed 2","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b50021","#02e600","#0c2fda"],"seg1":"40","seg2":"80","x":1019,"y":435,"wires":[]},{"id":"d3b87654.b85718","type":"mqtt out","z":"4fb89f33.a09d","name":"","topic":"wickingBeds/1/1/fillNow","qos":"","retain":"","broker":"1bb3b239.0b20ce","x":423,"y":839,"wires":[]},{"id":"f8a277ce.9395c8","type":"ui_button","z":"4fb89f33.a09d","name":"Fill Bed 1 Now","group":"dfb3dc5a.931a","order":7,"width":0,"height":0,"passthru":false,"label":"Fill Bed 1 Now","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"wickingBeds/1/1/fillNow","x":151,"y":838,"wires":[["d3b87654.b85718"]]},{"id":"937f0b71.36bfa8","type":"mqtt out","z":"4fb89f33.a09d","name":"","topic":"wickingBeds/1/2/fillNow","qos":"","retain":"","broker":"1bb3b239.0b20ce","x":1074,"y":841,"wires":[]},{"id":"5d80766d.5cfdb8","type":"ui_button","z":"4fb89f33.a09d","name":"Fill Bed 2 Now","group":"4cd50888.c00f18","order":7,"width":0,"height":0,"passthru":false,"label":"Fill Bed 2 Now","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"wickingBeds/1/2/fillNow","x":802,"y":838,"wires":[["937f0b71.36bfa8"]]},{"id":"216129e0.1b0626","type":"ui_slider","z":"4fb89f33.a09d","name":"Threshold","label":"Threshold","group":"dfb3dc5a.931a","order":6,"width":"5","height":"1","passthru":true,"outs":"end","topic":"wickingBeds/1/1/threshold","min":"20","max":"80","step":1,"x":240,"y":632,"wires":[["30e03a98.d1d666"]]},{"id":"30e03a98.d1d666","type":"mqtt out","z":"4fb89f33.a09d","name":"","topic":"wickingBeds/1/1/threshold","qos":"1","retain":"","broker":"1bb3b239.0b20ce","x":441,"y":632,"wires":[]},{"id":"70c156c3.0fd938","type":"ui_slider","z":"4fb89f33.a09d","name":"Threshold","label":"Threshold","group":"4cd50888.c00f18","order":6,"width":"5","height":"1","passthru":true,"outs":"end","topic":"wickingBeds/1/2/threshold","min":"20","max":"80","step":1,"x":868,"y":633,"wires":[["c8bae511.6e9798"]]},{"id":"c8bae511.6e9798","type":"mqtt out","z":"4fb89f33.a09d","name":"","topic":"wickingBeds/1/2/threshold","qos":"1","retain":"","broker":"1bb3b239.0b20ce","x":1073,"y":632,"wires":[]},{"id":"8d98606c.3987","type":"ui_switch","z":"4fb89f33.a09d","name":"Auto Fill","label":"Auto Fill Bed 1","group":"dfb3dc5a.931a","order":5,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":281,"y":747,"wires":[["c70f7f04.94a21"]]},{"id":"c70f7f04.94a21","type":"mqtt out","z":"4fb89f33.a09d","name":"","topic":"wickingBeds/1/1/auto","qos":"","retain":"","broker":"1bb3b239.0b20ce","x":470,"y":748,"wires":[]},{"id":"b5e707ff.2a94c8","type":"ui_switch","z":"4fb89f33.a09d","name":"Auto Fill","label":"Auto Fill Bed 2","group":"4cd50888.c00f18","order":5,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":976,"y":736,"wires":[["33726c84.00e7d4"]]},{"id":"33726c84.00e7d4","type":"mqtt out","z":"4fb89f33.a09d","name":"","topic":"wickingBeds/1/2/auto","qos":"","retain":"","broker":"1bb3b239.0b20ce","x":1165,"y":737,"wires":[]},{"id":"4506bb87.e220b4","type":"mqtt in","z":"4fb89f33.a09d","name":"","topic":"wickingBeds/1/1/lastFilledDateTime","qos":"2","broker":"1bb3b239.0b20ce","x":176,"y":532,"wires":[["733ace0b.29097"]]},{"id":"733ace0b.29097","type":"ui_text","z":"4fb89f33.a09d","group":"dfb3dc5a.931a","order":3,"width":"6","height":"2","name":"Bed 1 Last Filled","label":"Bed 1 Last Filled","format":"{{msg.payload}}","layout":"row-center","x":468,"y":531,"wires":[]},{"id":"b5e7a508.01af68","type":"mqtt in","z":"4fb89f33.a09d","name":"","topic":"wickingBeds/1/2/lastFilledDateTime","qos":"2","broker":"1bb3b239.0b20ce","x":902,"y":543,"wires":[["bda806f7.2c7568"]]},{"id":"bda806f7.2c7568","type":"ui_text","z":"4fb89f33.a09d","group":"4cd50888.c00f18","order":3,"width":"6","height":"2","name":"Bed 2 Last Filled","label":"Bed 2 Last Filled","format":"{{msg.payload}}","layout":"row-center","x":1153,"y":544,"wires":[]},{"id":"82168153.ed836","type":"ui_gauge","z":"4fb89f33.a09d","name":"","group":"dfb3dc5a.931a","order":2,"width":"6","height":"4","gtype":"gage","title":"Soil Temperature","label":"C","format":"{{value}}","min":"10","max":"40","colors":["#46ddf5","#47f25f","#ca3838"],"seg1":"","seg2":"","x":439,"y":161,"wires":[]},{"id":"4c1274ab.281b3c","type":"ui_gauge","z":"4fb89f33.a09d","name":"","group":"4cd50888.c00f18","order":2,"width":"6","height":"4","gtype":"gage","title":"Soil Temperature","label":"C","format":"{{value}}","min":"10","max":"40","colors":["#46ddf5","#47f25f","#ca3838"],"seg1":"","seg2":"","x":437,"y":419,"wires":[]},{"id":"9601006f.c78ae","type":"ui_chart","z":"4fb89f33.a09d","name":"bed1Moisture","group":"dfb3dc5a.931a","order":8,"width":"10","height":"4","label":"Soil Moisture Time Series","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"waiting ....","dot":false,"ymin":"0","ymax":"100","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1090,"y":144,"wires":[[],[]]},{"id":"263070d4.1743a","type":"ui_chart","z":"4fb89f33.a09d","name":"bed2Moisture","group":"4cd50888.c00f18","order":8,"width":"10","height":"4","label":"Soil Moisture Time Series","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"waiting ....","dot":false,"ymin":"0","ymax":"100","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1063,"y":380,"wires":[[],[]]},{"id":"2e175449.51db9c","type":"mqtt in","z":"4fb89f33.a09d","name":"init input","topic":"wickingBeds/1/1/init/threshold","qos":"2","broker":"1bb3b239.0b20ce","x":99,"y":632,"wires":[["216129e0.1b0626"]]},{"id":"f6d72012.b3f59","type":"mqtt in","z":"4fb89f33.a09d","name":"init input","topic":"wickingBeds/1/2/init/threshold","qos":"2","broker":"1bb3b239.0b20ce","x":711,"y":633,"wires":[["70c156c3.0fd938"]]},{"id":"65e01222.80393c","type":"mqtt in","z":"4fb89f33.a09d","name":"init input","topic":"wickingBeds/1/1/init/auto","qos":"2","broker":"1bb3b239.0b20ce","x":121,"y":748,"wires":[["8d98606c.3987"]]},{"id":"64150851.321528","type":"mqtt in","z":"4fb89f33.a09d","name":"init input","topic":"wickingBeds/1/2/init/auto","qos":"2","broker":"1bb3b239.0b20ce","x":794,"y":736,"wires":[["b5e707ff.2a94c8"]]},{"id":"dfd1f75.4de6108","type":"mqtt in","z":"4fb89f33.a09d","name":"Since","topic":"wickingBeds/1/1/daysHoursSince","qos":"2","broker":"1bb3b239.0b20ce","x":82,"y":583,"wires":[["64cfc5c3.0beb7c"]]},{"id":"64cfc5c3.0beb7c","type":"ui_text","z":"4fb89f33.a09d","group":"dfb3dc5a.931a","order":4,"width":"6","height":"2","name":"whichWas1","label":"which was","format":"{{msg.payload}}","layout":"row-left","x":243,"y":582,"wires":[]},{"id":"a277fa26.d9dc38","type":"mqtt in","z":"4fb89f33.a09d","name":"Since","topic":"wickingBeds/1/2/daysHoursSince","qos":"2","broker":"1bb3b239.0b20ce","x":868,"y":590,"wires":[["3038b625.aa021a"]]},{"id":"3038b625.aa021a","type":"ui_text","z":"4fb89f33.a09d","group":"4cd50888.c00f18","order":4,"width":"6","height":"2","name":"whichWas2","label":"which was","format":"{{msg.payload}}","layout":"row-left","x":1029,"y":589,"wires":[]},{"id":"1bb3b239.0b20ce","type":"mqtt-broker","z":"","name":"BrokerName","broker":"10.10.10.10","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dfb3dc5a.931a","type":"ui_group","z":"","name":"Bed 1","tab":"dba9407.094c4c","order":2,"disp":true,"width":"12","collapse":true},{"id":"4cd50888.c00f18","type":"ui_group","z":"","name":"Bed 2","tab":"dba9407.094c4c","order":2,"disp":true,"width":"12","collapse":true},{"id":"dba9407.094c4c","type":"ui_tab","z":"","name":"System 1","icon":"dashboard"}]